awsebcli==3.6.2
boto==2.38.0
botocore==1.3.13
dj-database-url==0.3.0
dj-static==0.0.6
Django==1.9
django-localflavor==1.1
django-mongodb-engine==0.6.0
django-storages==1.1.8
django-toolbelt==0.0.1
djangotoolbox==1.8.0
futures==3.0.5
mediameter-cliff==1.2.0
mongoengine==0.10.0
pathspec==0.3.3
Pillow==2.9.0
psycopg2==2.6
py-mysql2pgsql==0.1.5
pyasn1==0.1.8
pycparser==2.14
pymongo==3.0.3
static3==0.5.1
tinys3==0.1.11
tweepy==3.5.0
virtualenv==12.0.7
websocket-client==0.34.0
django-cors-headers==1.1.0
