packages:
  yum:
    git: []
    postgresql93-devel: []
container_commands:
  01_merge:
    command: "source /opt/python/run/venv/bin/activate && python manage.py makemigrations symkalaweb --merge --noinput"
  02_migrate:
    command: "source /opt/python/run/venv/bin/activate && python manage.py migrate symkalaweb --fake --noinput"
    leader_only: true
option_settings:
    - namespace: aws:elasticbeanstalk:container:python
      option_name: WSGIPath
      value: symkala/wsgi.py
    - option_name: DJANGO_SETTINGS_MODULE
      value: symkala.settings
    - option_name: AWS_SECRET_KEY
      value: c8ddEc2CxBMSAd/LPqjix729ISbDJw5318bSdgci
    - option_name: AWS_ACCESS_KEY_ID
      value: AKIAIK57TCMHTNEIZY2A