html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

tr.odd {
	background-color: lightgrey !important;
}

td.sorting_1 {
	background-color: lightslategrey;
}

div.dataTables_wrapper {
	background-color: white;
	margin: 45px;
}

table.csvTable {
	width: 100%;
	color: black;
}

table.csvTable tbody td {
	border-bottom: 1px solid #ddd;
}

.progress { 
	position: relative; 
	width: 400px;
	border: 1px solid #ddd;
	padding: 1px;
	border-radius: 3px;
	top: 100%;
	background: white;
}

div.imagePreview {
	width: 40%;
}

div.keywords {
	width: 40%;
	overflow: auto
}

div.keywords table {
	margin: 5px;
	background-color: white;
	border: 1px solid #ccc;
}

div.keywords table {
	border-bottom: 1px solid #ddd;
}

div.keywords tr:nth-child(even) {
	background-color: #f1f1f1;
}

div.dataTools {
	margin-top: 7%
}

div.preview {
	width: 100%;
}

div.textPreview {
	color:white;
}

.textPreview > table {
	background:white;
}

.textPreview > table td{
	border-bottom: 1px solid gray;
}

.textPreview > table tr:nth-child(even){
	background-color: #f2f2f2;
}

.percent {
	position: absolute;
	display: inline-block; 
	top: 3px;
	left: 48%;
}

.image-grid {
	width: 100%;
	max-width:1310px;
	margin: 0 auto;
	overflow: auto;
	padding: 10px 5px 0;
}

.image_cell {
	float: left;
	position: relative;
	width: 10%;
}

.image--basic {
	margin: 0 5px;
	position: relative;
}

.frame {
	height:500px;
	width:600px;
	background-color:white;
}

div.label {
	position: absolute;
	top: 70%;
	background-color: #382D34;
	width:100%;
	left: 0;
	right: 0;
	margin: 0 auto;
	color: #ffffff;
	overflow-wrap: break-word;
}

.basic_img {
	display: block;
	max-width:100%;
	height: 150px;
	margin: 0 auto;
}

.image_cell.is-collapsed .arrow--up {
	display: block;
	height: 10px;
	width:100%;
}

.image--large {
	max-width: 100%;
	max-height: 500px;
	height: auto;
	display: block;
	padding: 40px;
	margin: 0 auto;
	box-sizing: border-box;
}

.image_cell.is-collapsed .image--basic {
	cursor: pointer;
}

.image_cell.is-expanded .image--expand {
	max-height: 600px; /*if the expanding area is to increase, this value also needs to increase */
	margin-bottom: 10px;
}

.image--expand {
	position: relative;
	left: -5px;
	padding: 0 5px;
	box-sizing: content-box;
	overflow: auto;
	background: #222;
	max-height: 0;
	transition: max-height .3s ease-in-out,
				margin-bottom .1s .2s;
	width: 1000%;
}

.image_cell:nth-of-type(10n+2) .image--expand {
	margin-left: -100%;
}

.image_cell:nth-of-type(10n+3) .image--expand {
	margin-left: -200%;
}

.image_cell:nth-of-type(10n+4) .image--expand {
	margin-left: -300%;
}

.image_cell:nth-of-type(10n+5) .image--expand {
	margin-left: -400%;
}

.image_cell:nth-of-type(10n+6) .image--expand {
	margin-left: -500%;
}

.image_cell:nth-of-type(10n+7) .image--expand {
	margin-left: -600%;
}

.image_cell:nth-of-type(10n+8) .image--expand {
	margin-left: -700%;
}

.image_cell:nth-of-type(10n+9) .image--expand {
	margin-left: -800%;
}

.image_cell:nth-of-type(10n+10) .image--expand {
	margin-left: -900%;
}

.image_cell:nth-of-type(10n+11) {
	clear: left;
}

.image_cell.is-expanded .arrow--up {
	display: block;
	border-bottom: 8px solid #222;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	height:0;
	width:0;
	margin: 2px auto 0;
}

.expand_close {
	position: absolute;
	top: 10px;
	right: 20px;
	color: #454545;
	font-size: 50px;
	line-height: 50px;
	text-decoration: none;
}

.expand_close:before {
	content: '×';
}

.expand_close:hover {
	color: #fff;
}

.dashboardHeader {
	color: white;
}

.tooltip {
	font-size: 12px;
	margin-bottom: 5px;
}

@media only screen and (max-width: 530px) {
	
	.image_cell {
		width:50%;
	}
	
	.image_cell:nth-of-type(2n+2) .image--expand {
		margin-left: -100%;
	}
	
	.image_cell:nth-of-type(2n+3) {
		clear:left;
	}
	
	.image--expand {
		width: 200%;
	}
	
}

div#dataTags {
	display: inline-flex;
	margin-bottom: 10px;
}

div.dataTray {
	display:flex;
}

div#selection {
	width:25%;
}

img.image--select {
	width:20%;
	margin: 5px;
}

div#dataTags .tag {
	margin: 0 5px;
}

#container .mix {
	display: none;
}

legend {
	text-align: left;
}

.highlight {
	background-color: blue;
}

.remove {
	background-color : red;
}

ul.filters {
	list-style-type: none;
	overflow: hidden;
	margin: 10px 0;
}

ul.filters > li  {
	display:block;
	float:left;
	text-align:center;
	padding: 4px;
}

div.dataLabel {
	position: absolute;
	top: 50%;
	left: 50%;
	background-color: #AFAFAF;
	width:60%;
	transform: translate(-50%);
}

ul.filters li.active {
	background-color: #EC5454;
}

ul.filters li:hover {
	background-color: #EC5454;
}

div#tools {
	position: relative;
	text-align: left;
}

div#slider {
	margin: 0 auto;
}

#filters {
	position:relative;
}

#display {
	height: 600px !important;
	overflow: auto;
}

div.dataContainer {
	margin: 0 2px;
}

div.dataSet {
	position: relative;
}

div.dataSetName {
	float: left;
	position: absolute;
	top: 50%;
	z-index: 1000;
	background-color: #A4A4A4;
	text-align: center;
	padding: 10px 0px;
	width:100%;
}

img.dataSetImg {
	height: 275px;
	width: 260px;
}

div#showAll{
	bottom: 0;
	right: 50%;
	width: 100%;
	margin: 15px auto;
}

div#mods form {
	padding: 10px;
}

.select {
	background-color: rgba(0,0,0,.3);
}

.tagContainer {
	display: inline-flex;
	overflow-wrap: break-word;
	margin: 5px 0;
}

div#tags {
	height: 50px;
	overflow: auto;
}

.ui-rangeSlider-bar {
	background: #202234 !important;
}

.tag {
	background-color:#202234;
	font-weight:bold;
	color:white;
	padding: 3px 3px;
}

.mediaIcons {
	width: 180px;
	margin: 0 50px;
}

div#formContainer {
	display: -webkit-inline-box;
	position: absolute;
	top: 50%;
	transform: translate(0,-50%);
	margin-left: 15px;
	cursor: pointer;
	background-color: #72737e;
	padding: 10px;
}


/*used for old pop up window */
.messagepop {
  background-color:#FFFFFF;
  border:1px solid #999999;
  cursor:default;
  display:none;
  margin-top: 15px;
  position:absolute;
  text-align:left;
  width:394px;
  z-index:50;
  padding: 25px 25px 20px;
}

label {
  display: block;
  margin-bottom: 3px;
  padding-left: 15px;
  text-indent: -15px;
}

#popupContainer {
	width:100%;
	height:100%;
	opacity: .95;
	top:0;
	left:0;
	display:none;
	position:fixed;
	background-color:#313131;
	overflow:auto;
	z-index: 1005;
}

img#close {
	height:30px;
	width:30px;
	position:absolute;
	right: 8px;
	top: 34px;
	cursor:pointer;
}

div#popupForm {
	position:absolute;
	left:50%;
	top:17%;
	margin-left:-202px;
}

div#dataSelect {
	display: inline-flex;
	margin: 10px;
}

form.popupForm {
	max-width:450px;
	min-width:250px;
	padding:10px 50px;
	border: 2px solid gray;
	border-radius:0 10px 10px 10px;
	border-top:none;
	background-color:#fff
}

form.popupForm > input[type=text] {
	width:82%;
	padding:10px;
	margin-top: 30px;
	border: 1px solid #ccc;
	padding-left:40px;
	font-size:16px;
}

div#twitterFormDiv {
	display: none;
}

div#shapeFormDiv {
	display: none;
}

div#navTab {
	display: inline-flex;
	width: 100%;
}

div#navTab > div {
	background-color:#fff;
	border: 2px solid gray;
	border-radius: 10px 10px 0 0;
	padding: 5px 10px;
}

.activeTab {
	border-bottom: none !important;
}

