body {
	background-image: url("dunes.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
	margin: 0;
	font-family: "Lato";
}



a {
	color: floralwhite;
}

div#form {
	background-color: #0d0d0d;
}

footer#footer {
	background-color: #0d0d0d;
	width: 100%;
	position: absolute;
	bottom: 0;
}

input.loginform {
	border-radius: 10px;
	border: none;
	padding: 0 10px;
}

button.loginform {
	border-radius: 10px;
	border: none;
	background-color: #a5a5a5;
}

div.container {
	display: inline-flex;
}

div.formcontainer {
	margin: 10px;
}

div#sym {
	position: absolute;
	right: 5px;
	font-size: 40px;
}

div#register {
	margin-top: 5px;
}

a#register {
	text-decoration: none;
}

table#nav td:nth-child(2) {
	padding: 1px 40px;
}

table#nav {
	margin-left: 40px;
	margin-bottom: 5vh;
}