body {
	margin: 0;
	width: 100%;
}

div#nav {
	width: 15%;
	text-align: center;
	background-color: #21293A;
}

div#nav a.link {
	color: white;
}

section.center {
	width: 70%;
}

div#toolsAndWorkSpace {
	width: 80%;
}

div#tools {
	background-color: #424A52;
}

div#workspace {
	background-color: #84848C;
	height: 600px;
	overflow: auto;
}

div#meta {
	background-color: #6B6B73;
	width: 20%;
}

div#meta > div {
	padding: 10px;
}

div#filters {
	background-color: #4A4A5A;
	height: 100px;
}

.imgNav {
	width:60px;
	padding: 10px 0;
}

div.group {
	clear: both;
	display: flex;
	width: 100%;
}
