.line {
	fill: none;
	stroke: red;
}

.bestFit {
	fill: red;
}

img {
	width: 40%;
}

div#mods {
	text-align: left;
}

g.bestFitLine {
	display: none;
}

g.averageLine {
	display: none;
}

div#display .gu-transit {
	display: none;
}