.card {
	-webkit-transform: translate(0px, 0px);
	transform: translate(0px, 0px);
}

.drop-target {
	border-color: #2D2B2B;
	border-style: solid;
}

.can-drop {
	border-color: #fff;
	border-style:solid;
}

.notImplemented {
	background-color: cadetblue;
}

form#analysis {
	text-align: left;
}

table#cardData {
	margin: 0 auto;
	text-align: left;
	color: white;
}

div#filters {
	overflow: auto;
}

#mods {
	position: relative;
}

#preview {
	position: absolute;
	bottom: 0;
}

#display {
	height: 400px;
}

div#formContainer {
	display: -webkit-inline-box;
	position: absolute;
	top: 50%;
	margin-top: -10px;
}


/*used for old pop up window */
.messagepop {
  background-color:#FFFFFF;
  border:1px solid #999999;
  cursor:default;
  display:none;
  margin-top: 15px;
  position:absolute;
  text-align:left;
  width:394px;
  z-index:50;
  padding: 25px 25px 20px;
}

label {
  display: block;
  margin-bottom: 3px;
  padding-left: 15px;
  text-indent: -15px;
}

.popupContainer {
	width:100%;
	height:100%;
	opacity: .95;
	top:0;
	left:0;
	display:none;
	position:fixed;
	background-color:#313131;
	overflow:auto;
	z-index: 1005;
}

img#close {
	height:30px;
	width:30px;
	position:absolute;
	right: 8px;
	top: 34px;
	cursor:pointer;
}

div.popupForm {
	position:absolute;
	left:50%;
	top:17%;
	margin-left:-202px;
}

div.dataSelect {
	display: inline-flex;
	margin: 10px;
}

form.popupForm {
	max-width:450px;
	min-width:250px;
	padding:10px 50px;
	border: 2px solid gray;
	border-radius:0 10px 10px 10px;
	border-top:none;
	background-color:#fff
}

form.popupForm > input[type=text] {
	width:82%;
	padding:10px;
	margin-top: 30px;
	border: 1px solid #ccc;
	padding-left:40px;
	font-size:16px;
}

div.navTab {
	display: inline-flex;
	width: 100%;
}

div.navTab > div {
	background-color:#fff;
	border: 2px solid gray;
	border-radius: 10px 10px 0 0;
	padding: 5px 10px;
}