{% extends "interface.html" %}

{% block head %}
<title> Visualize </title>

{% load staticfiles %}
<link href='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.css' rel='stylesheet' />
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />

<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.11/css/jquery.dataTables.css">
  
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.11/js/jquery.dataTables.js"></script>

<link rel="stylesheet" href="{% static 'css/visualize.css' %}?{% now 'U' %}">

<script src="{% static 'js/PapaParse-4.1.2/papaparse.js' %}"></script>
<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>

<script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet' />
<script src='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js'></script>
<link href='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.css' rel='stylesheet' />
<link href='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.Default.css' rel='stylesheet' />
<script>
	var fileName = "{{fileName}}";
	var shapeFile = "{{shapeFile}}"
</script>
<script src="{% static 'js/shp.js' %}"></script>
<script src="{% static 'js/leaflet.shpfile.js' %}"></script>
<script src="{% static 'js/colorbrewer.js' %}"></script>
<script src="{% static 'js/markers.js' %}"></script>
<script src="{% static 'js/poi.js' %}?{% now 'U' %}"></script>
{% endblock %}

{% block visualize %}
<img class="imgNav" src="{% static 'images/Visualize_Selected.png' %}">
{% endblock %}