{% extends "interface.html" %}

{% block head %}
<title> Visualize </title>

{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/visualize.css' %}?{% now 'U' %}">
<link rel="stylesheet" href="{% static 'css/dragula.css' %}?{% now 'U' %}">
<link rel="stylesheet" href="{% static 'css/scatter.css' %}?{% now 'U' %}">

<script src="{% static 'js/PapaParse-4.1.2/papaparse.js' %}"></script>
<script src='http://d3js.org/d3.v3.min.js'></script>

<script src="{% static 'js/jquery-2.1.4.js' %}"></script>
<script src="{% static 'js/sylvester.js' %}"></script>
<script src="{% static 'js/lyric.js' %}"></script>
{% endblock %}

{% block body %}
<script src="{% static 'js/dragula.js' %}"></script>

<script>
	var fileName = "{{fileName}}";
</script>
<script src="{% static 'js/scatter.js' %}?{% now 'U' %}"></script>

{% endblock %}

{% block workspace %}
<div id="popupContainer">
	<!-- Pop up starts Here -->
	<div id="popupForm">
		<div id="localFormDiv">
			<form id="bucketSize" class="popupForm" enctype="multipart/form-data" onsubmit="return graphMovingAverage()">
				{% csrf_token %}
				<img id="close" src="{% static 'images/Close-icon.png' %}" onClick = "popup_hide()">
				<h2> Enter Bucket Size</h2>
				<hr>
				<input id="size" name="size" placeholder="Enter Bucket Size" type="text" onkeypress="return isNumber(event)">
				<button type="submit">Submit</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}

{% block mod %}
<img id="bestfit" src="{% static 'images/linreg.png' %}">
<img id="movingaverage" src="{% static 'images/movingaverage.jpg' %}">
<button onClick="removeAnalysis()"> Remove Analysis </button>
{% endblock %}

{% block visualize %}
<img class="imgNav" src="{% static 'images/Visualize_Selected.png' %}">
{% endblock %}

