{% extends "interface.html" %}

{% block head %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/manage.css' %}?{% now 'U' %}">
<link rel="stylesheet" href="{% static 'css/stacks.css' %}?{% now 'U' %}">
<script src="{% static 'js/interact.js' %}"></script>
<script src="{% static 'js/stacks.js' %}"></script>
{% endblock %}

{% block tools %}
{% for card in cards %}
	<div draggable="true" class="allCard card draggable drag-drop" data-id="{{card.id}}">
		<span class="cardContent">{{card}} </span>
	</div>
{% endfor %}
{% endblock %}

{% block manage %}
<img class="imgNav" src="{% static 'images/Manage_selected.png' %}">
{% endblock %}

{% block mod %}
<form id="analysis" action="{% url 'visualize' %}" method="POST">
	{% csrf_token %}
	<input type="hidden" class="data" id="data" name="data" value="">
</form>
<div id="preview"></div>
{% endblock %}

{% block workspace %}
<div id="popupContainer">
	<!-- Pop up starts Here -->
	<div id="popupForm">
		<div id="navTab">
			<div class="activeTab" id="localUpload"> Select Columns </div>
		</div>
		<div id="localFormDiv">
			<form class="popupForm" action="{% url 'visualize' %}" method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				<img id="close" src="{% static 'images/Close-icon.png' %}" onClick = "upload_hide()">
				<div> Select X: <select name="x" id="x"></select> </div>
				<div> Select Y: <select name="y" id="y"></select> </div>
				<input type="hidden" class="data" id="dataSelect" name="data" value="">
				<input type="hidden" name="analysis" value="scatter">
				<button type="submit">Visualize</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}

{% block filters %}
<table id="cardData">
</table>
{% endblock %}